*{
    margin: 0;
    padding: 0;
}
:root {
 --main-bg-color: hsl(220, 100%, 99%)
}
body{
  font-weight: 600;
  font-family: 'Manrope', serif;
  height: 100vh;
}
/* Header */
header{
  background-color: var(--main-bg-color);
}

header h2{
    color: hsl(227, 35%, 25%);
    font-weight: 800;
}
header span{
    color:  hsl(225, 20%, 60%);
}




/* Media Queries */
@media (max-width: 575px){

/* header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32vh;
}

header h2{
  margin-top: 10vh;
}

header span{
    margin-top: 1vh;
    display: flex;
    justify-content: center;

}
.bg-image{
  background-image: url('./images/pattern-circles.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;

}

/* Card */
.card{
    height: 55vh;
    border-radius: 10px;
    border: 2px solid black;
    width: 85vw;
    margin: auto;
}
}